body {
    background-color: #eee;
}

* {
    line-height: normal !important;
}

body,
.ms {
    font-family: consolas, monaco, menlo, courier, monospace;
    text-align: center;
}

.pm0 {
    padding: 0;
    margin: 0;
}

.pt5 {
    padding-top: 5px;
}

.URI_textarea {
    font-size: 14px;
    padding: 10px;
    margin: 0;
    border: 0;
    box-shadow: 1px 1px 2px #555 inset;
    background-color: #ddd;
    color: darkgreen;
    resize: none;
}

.canvas_styling {
    opacity: 0;
    transition: opacity .5s;
    display: inline-block;
    border-radius: 8px;
    padding: 20px;
    background-color: #888;
    box-shadow: 0 0 20px #555 inset;
}

.inner_holder {
    box-sizing: border-box;
    overflow: auto;
    border-radius: 4px;
}

.URI_textarea,
.canvas_holder,
.all_wrapper,
.ib,
input {
    box-sizing: border-box;
}

.all_wrapper,
.URI_textarea {
    width: 100%;
}

.all_wrapper p,
.sub_title,
.all_wrapper,
.ns {
    text-align: center;
}

#inp:hover {
    cursor: pointer;
}

.sub_title {
    color: darkgreen;
}

input[type="button"] {
    background-color: #ddd;
}

.sbg,
input[type="button"],
#inp_url {
    border-radius: 4px;
    padding: 10px 20px;
}

#inp::-webkit-file-upload-button {
    border-radius: 4px;
    padding: 10px 20px;
    font-family: consolas, monaco, menlo, courier, monospace;
    border: 1px solid #555;
}

input[type="button"],
#inp_url {
    border: 1px solid #555;
}

#inp_url,
#submit_url {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#submit_url {
    margin-top: 10px;
}

input[type="button"]:hover {
    background-color: #888;
    color: #fff;
    cursor: pointer;
}

#inp::-webkit-file-upload-button:hover {
    background-color: #888;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: #777;
}

input[type="button"]:focus {
    outline-color: #333;
}

#inp::-webkit-file-upload-button:focus {
    outline-color: #333;
}

.sbg {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.all_wrapper {
    padding: 10px 0;
}

.ib {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.green {
    color: darkgreen;
}

.all_wrapper,
.inner_holder {
    display: none;
}

@media (max-width:640px) {
    .ib {
        display: block;
        margin: 0;
        width: 100%;
    }
    .ib:nth-child(2) {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    #inp_url,
    #submit_url {
        width: 200px;
        max-width: 100%;
    }
    .pt5 {
        padding: 0;
    }
}