<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-app="app">
        <div ng-controller="AppController">
            <input type="file" nv-file-select uploader="uploader"/><br/>
            <ul>
                <li ng-repeat="item in uploader.queue">
                    Name: <span ng-bind="item.file.name"></span><br/>
                    <button ng-click="item.upload()">upload</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>
