<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularToast</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/ngToast/dist/ngToast.min.css">
    <link rel="stylesheet" href="./bower_components/ngToast/dist/ngToast-animations.min.css">
</head>
<body ng-controller="ToastController">
    <toast></toast>
    <button ng-click="default()">openDefault</button>
    {{name}}

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="./bower_components/ngToast/dist/ngToast.min.js"></script>
    <script src="./app.js"></script>
    <script src="./controller/toastController.js"></script>

</body>
</html>
