<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ng-file-upload</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <body ng-app="fileUpload" ng-controller="MyCtrl">
        <h4>Upload on file select</h4>
        <button type="file" ngf-select="uploadFiles($file, $invalidFiles)">
        Select File</button>
        <br><br>
        File:
        <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}%"
                ng-bind="f.progress + '%'"></div>
            </span>
        </div>
        {{errorMsg}}
    </body>

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="./bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>
