<html lang="en-US" >

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="./dirPagination.js"></script>

<body>

    <div ng-app="myApp">

        <h2 class="text-center">AngularJS Pagination Example</h2>

        <div class="container" ng-controller="categoryCtrl">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="value in data | itemsPerPage: 5">
                        <td>{{ value.category }}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls
            boundary-links="true"
            direction-links="true" >
        </dir-pagination-controls>
    </div>

</div>

<script>
var app = angular.module('myApp',['angularUtils.directives.dirPagination']);

app.controller('categoryCtrl', ['$scope','$http', function($scope, $http){
    $scope.data = [];
    $http.get("http://localhost:3004/data").success(function(response){
        $scope.data = response;
    });
}]);
</script>

</body>
</html>
