<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Scheduling</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/journal/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="sampleApp">
    <div class="container" ng-controller="SampleCtrl">

        <div class="page-header text-center">
            <h1>Schedule City</h1>
        </div>

        <div class="row times">

            <div class="col-xs-4 text-center">

                <h2>Monday</h2>

                <div class="time-slot">
                    <input type="checkbox" id="monday-time">
                    <label for="monday-time">9:00am</label>
                </div>
            </div>

        </div>

        <p class="text-center">
            <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
        </p>

        <div>
            <!-- anything typed in here is magically saved to our Firebase database! -->
            <input type="text" ng-model="data.text"/>
            <!-- all changes from our Firebase database magically appear here! -->
            <h1>You said: {{ data.text }}</h1>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <script>
    var config = {
        apiKey: "AIzaSyDm-eDE0ia0NtUAOBRsx5j7C-Zw9IZrq20",
        authDomain: "scheduling-976f6.firebaseapp.com",
        databaseURL: "https://scheduling-976f6.firebaseio.com",
        storageBucket: "scheduling-976f6.appspot.com",
        messagingSenderId: "1090533273789"
    };
    firebase.initializeApp(config);
    </script>
    <script src="./app.js"></script>

</body>
</html>
